<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>API Instructions</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Library API Instructions</h1>
        <p class="mt-4">To use the API, you need to be signed in. If you haven't signed up yet, you can do so <a href="http://localhost:8000/api/v1/signup">here</a>.</p>
        <p>This is the base path for the API: <code>http://localhost:8000/api/v1/</code></p>
        <hr>
        <h2 class="mt-4">Customer API</h2>
        <p><strong>GET /customers</strong>: Retrieve all customers or a specific customer by ID.</p>
        <p><strong>POST /customers</strong>: Add a new customer.</p>
        <p><strong>PUT /customers</strong>: Update the name or age of a customer.</p>
        <p><strong>DELETE /customers</strong>: Delete a customer if they don't have any associated rents.</p>

        <h2 class="mt-4">Book API</h2>
        <p><strong>GET /books</strong>: Retrieve all books or a specific book by name.</p>
        <p><strong>POST /books</strong>: Add a new book.</p>
        <p><strong>PUT /books</strong>: Update the return period of a book if it is not currently in rent.</p>
        <p><strong>DELETE /books</strong>: Delete a book if it doesn't have any associated rents.</p>

        <h2 class="mt-4">Rent API</h2>
        <p><strong>GET /rents</strong>: Retrieve all rents or rents by customer ID. Add the query parameter <code>lated=true</code> to retrieve only late rents.</p>
        <p><strong>POST /rents</strong>: Add a new rent. Check if the book is already rented.</p>
        <p><strong>DELETE /rents</strong>: Delete a rent.</p>

        <h2 class="mt-4">User API</h2>
        <p><strong>POST /signup</strong>: Create a new user.</p>
        <p><strong>GET /private</strong>: Access a private endpoint. Requires authentication.</p>

    </div>
</body>
</html>